@using System.Collections.Generic;
@using System.Web.Mvc;
@using SSGeek.Models
@using SSGeek.Models;

@ViewBag.Title = "AlienForum";
@model List<ForumPost>


<h2>Solar System Geek Forum</h2>

<div>
    @Html.ActionLink("Post A Message", "AlienForumSubmit", "Forum");

    @if (Model != null)
    {
        if (Model.Count != 0 )
        {
            foreach (ForumPost currentPost in Model)
            {
                <table style="color: aliceblue">
                    <tbody>
                        <tr>
                            <td>
                                <span style="font-weight: bolder">@currentPost.Subject</span><br />
                                By @currentPost.Username on @DateTime.Now .<br />
                                @currentPost.Message
                            </td>
                        </tr>

                    </tbody>
                </table>
            }
        }

    }
</div>